/*---------------------------
  #NON-USER-FONTS
---------------------------*/

/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 400;
  src: local('Press Start 2P Regular'), local('PressStart2P-Regular'), url(https://fonts.gstatic.com/s/pressstart2p/v7/e3t4euO8T-267oIAQAu6jDQyK3nVivNm4I81.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}




/*   visual for layout
     REMOVE */

     * {
       background:rgba(0,0,0,.1);
     }






/*---------------------------
  #UNIVERSAL-STYLES
---------------------------*/

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: rgb(30, 30, 34);
}

a {
  text-decoration: none;
  color: inherit;
}





/*---------------------------
  #HEADER
---------------------------*/

nav {
  height: 4rem;
  display: flex;
}

.site-nav {
  font-size: 2.8rem;
  color: white;
  display: flex;
  justify-content: flex-end;
  padding-right: 1.5rem;
  width: 100%;
}

header nav ul {
  align-items: center;
}





/*---------------------------
  #MAIN-CONTENT
---------------------------*/

main {
  font-size: 3rem;
  height: 60vh;
}


section {
  padding-top: 6.5rem;
  text-align: center;
}

span:nth-child(1) {
  font-family: "Press Start 2P";
}

h1 {
  padding-top: 4rem;
}

p {
  padding: 2rem;
  font-size: 2em;
}



